{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class="row" style="margin-top:100px">
        <h4 class="text-center fw-bold">{{u}}'s Orders</h4><br><br>
        {% for i in customer %}
        <div class="col-4 p-4">
            <img src="{{i.product.image.url }}" height="300px" width="100%">
        </div>
        <div class="col-5 p-4" style="align-item:center;">
<!--            <hr class="w-25 border border-2 border-dark mx-auto">-->
            <h5><b>Product:</b>{{i.product.name}}</h5>
            <h5><b>Price:</b>{{i.product.price}}</h5>
            <h5><b>Address:</b>{{i.address}}</h5>
            <h5><b>Contact:</b>{{i.phone}}</h5>
            <h5><b>No. of Items:</b>{{i.no_of_items}}</h5>
            <h5><b>Ordered date:</b>{{i.ordered_date}}</h5>
            <h5><b>Status:</b>{{i.delivery_status}}</h5>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}